body {
  margin: 0;
  background-color: #0b0b0b;
  font-family: Arial, sans-serif;
}

.calculadora {
  width: 320px;
  margin: 40px auto;
  padding: 10px;
}

.tela {
  height: 100px;
  background-color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
}

.resultado {
  color: white;
  font-size: 40px;
}


.normal,
.cientifica {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.cientifica {
  display: none;
}

button {
  height: 50px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.numero {
    color: #eaeaea;
}
.operador {
    color: orange;
}

.cientifico {
    background-color: #141414;
    color: #b0b0b0;
}

.resultado-btn {
    background-color: orange;
    color: white;
    font-weight: bold;
}

button:active {
  background-color: #333;
}
